<div class="right-head">
  <div class="right-name-box">
    <div class="right-name">
      <p>hogefuga</p>
    </div>
  </div>
  <div class="right-chat-end">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>  
</div>

<div class="right-center">
  <div class="message-box">
    <div class="message-topbox">
      <div class="name">
        Tom
      </div>
      <div class="date">
        2020/3/31(Web) 12:43:30
      </div>
    </div>
    <div class="message-bottombox">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>

  <div class="message-box">
    <div class="message-topbox">
      <div class="name">
        Tom
      </div>
      <div class="date">
        2020/3/31(Web) 12:47:30
      </div>
    </div>
    <div class="message-bottombox">
      <div class="message">
        こんにちは
      </div>
    </div>
  </div>
</div>

<div class="right-bottom">
  <div class="form-left">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-btn" type="submit" value="送信">
</div>