<div class="left-head">
  <div class="userbox">
    <%= link_to current_user.name, edit_user_path(current_user)  %>
  </div>
  <div class="chatbox">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="left-bottom">
  <div class="room-rist">
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
         <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
    <% end %>
  </div>
</div>