<div class="left-head">
  <div class="userbox">
    <%= link_to current_user.name, edit_user_path(current_user)  %>
  </div>
  <div class="chatbox">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="left-bottom">
  <div class="room-rist">
    <div class="room">
      <div class="room-name">
        <a href="#">testroom1</a>
      </div>
    </div>
  </div>
  <div class="room-rist">
    <div class="room">
      <div class="room-name">
        <a href="#">testroom2</a>
      </div>
    </div>
  </div>
</div>